# Minimal placeholder defconfig for contest2026_000_board.
# Not intended to boot real hardware; sample only.
CONFIG_ARCH="arm"
CONFIG_ARCH_ARMV8M=y
CONFIG_ARCH_CHIP="armv8-m"
CONFIG_ARCH_CHIP_ARMV8M=y
CONFIG_ARCH_BOARD="CONTEST2026_000_BOARD"
CONFIG_ARCH_BOARD_CONTEST2026_000_BOARD=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/openvela/boards/contest2026_223_board/"
CONFIG_ARM_THUMB=y
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/openvela/boards/contest2026_223_board/chip"