# Minimal placeholder defconfig for contest2026_000_board.
# Not intended to boot real hardware; sample only.
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CONTEST2026_000_BOARD=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="nsh"
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/contest2026_223_board/"
CONFIG_ARM_THUMB=y
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/beken/chips/bk7258"
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_LINELEN=64
CONFIG_NSH_READLINE=y
CONFIG_SYSTEM_NSH=y

