# Minimal placeholder defconfig for contest2026_000_board.
# Not intended to boot real hardware; sample only.
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CONTEST2026_000_BOARD=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="nsh"
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/bk7258_ap/"
CONFIG_ARM_THUMB=y
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/beken/chips/bk7258"
CONFIG_ARCH_CHIP_BK7258=y
CONFIG_ARCH_SETJMP_H=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_LINELEN=64
CONFIG_NSH_READLINE=y
CONFIG_SCHED_WAITPID=y
CONFIG_SYSTEM_NSH=y
CONFIG_SMP=y
CONFIG_SMP_NCPUS=2
CONFIG_CPU_CNT=2
CONFIG_SOC_SMP=y
CONFIG_SOC_BK7258=y
CONFIG_SOC_ARCH="cm33"
CONFIG_MPU=y
CONFIG_SPE=1
CONFIG_SPINLOCK_SECTION=y
CONFIG_PSRAM=y
CONFIG_PSRAM_AS_SYS_MEMORY=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_BK_CMSIS=y
CONFIG_AON_PMU=y
CONFIG_SYSTEM_CTRL=y
CONFIG_MAILBOX=y
CONFIG_PWM_V1PX=y
CONFIG_WIFI_VNET_CONTROLLER=y
CONFIG_MSDU_RESV_HEAD_LENGTH=108
CONFIG_INT_WDT=y
CONFIG_INT_WDT_PERIOD_MS=8000
CONFIG_TASK_WDT=y
CONFIG_TASK_WDT_PERIOD_MS=16000
CONFIG_MAILBOX_V2_0=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_PRIORITY_INHERITANCE=y
CONFIG_BK_PRINTF_DISABLE=y
CONFIG_DEBUG_ASSERTIONS=y
CONFIG_EFUSE=n
CONFIG_DEBUG_AP_STARTUP=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_SPINLOCK_DEBUG=n
CONFIG_INTELHEX_BINARY=y
CONFIG_RAW_BINARY=y
CONFIG_DEBUG_SCHED=y
CONFIG_DEBUG_SCHED_ERROR=y
CONFIG_DEBUG_SCHED_INFO=y
CONFIG_DEBUG_SCHED_WARN=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_WARN=y
CONFIG_DEBUG_FEATURES=y
CONFIG_SYSLOG_DEFAULT=y
CONFIG_ARCH_LOWPUTC=y
CONFIG_GRAPHICS_LVGL=y
CONFIG_LIB_FREETYPE=y
CONFIG_EXAMPLES_LVGLDEMO=y
CONFIG_LVX_USE_DEMO_CONTEST2026_000_HELLO_APP=y
CONFIG_LIBUV=y
CONFIG_TLS_NELEM=4
CONFIG_TLS_TASK_NELEM=4
# LVGL config
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_USE_CLIB_SPRINTF=y
CONFIG_LV_USE_CLIB_STRING=y
CONFIG_LV_USE_DEMO_WIDGETS=y
CONFIG_LV_USE_LOG=y
CONFIG_LV_USE_NUTTX=y
CONFIG_LV_USE_NUTTX_TOUCHSCREEN=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_BUILTIN=y
CONFIG_NSH_ALIAS=y
CONFIG_NSH_ALTCONDEV=y
CONFIG_NSH_ARCHINIT=y
CONFIG_NSH_ARGCAT=y
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_CMDOPT_DD_STATS=y
CONFIG_NSH_CMDOPT_HEXDUMP=y
CONFIG_NSH_CMDPARMS=y
CONFIG_NSH_MAXARGUMENTS=16
CONFIG_NSH_NESTDEPTH=6
CONFIG_NSH_QUOTE=y
CONFIG_PIPES=y
CONFIG_LCD=y
CONFIG_LCD_ST7701SN=y
CONFIG_LCD_FRAMEBUFFER=y
CONFIG_FS_PROCFS=y
CONFIG_FS_PROCFS_REGISTER=y
CONFIG_FLASH_MB=y
CONFIG_SARADC_MB=y
CONFIG_SYSLOG_MAX_CHANNELS=2
CONFIG_SYSLOG_BUFFER=y
CONFIG_SYSLOG_INTBUFFER=y  
CONFIG_SYSLOG_INTBUFSIZE=1024
