# Minimal placeholder defconfig for contest2026_000_board.
# Not intended to boot real hardware; sample only.
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CONTEST2026_000_BOARD=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="nsh"
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/bk7258_ap/"
CONFIG_ARM_THUMB=y
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_DIR="../vendor/beken/chips"
CONFIG_ARCH_CHIP_BK7258=y
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_LINELEN=64
CONFIG_NSH_READLINE=y
CONFIG_SYSTEM_NSH=y
CONFIG_SMP=y
CONFIG_SMP_NCPUS=2
CONFIG_SOC_SMP=y
CONFIG_SOC_BK7258=y
CONFIG_SOC_ARCH="cm33"
CONFIG_MPU=y
CONFIG_SPE=1
CONFIG_SPINLOCK_SECTION=y
CONFIG_PSRAM=y
CONFIG_PSRAM_AS_SYS_MEMORY=y
CONFIG_ARCH_INTERRUPTSTACK=2048
CONFIG_BK_CMSIS=y
CONFIG_AON_PMU=y


