#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

if ARCH_CHIP_CUSTOM

comment "Beken Configuration Options"



choice
    prompt "Beken Chip Selection"
    default ARCH_CHIP_BK7258

config ARCH_CHIP_BK7258
	bool "bk7258"
 	select ARCH_ARMV8M
	select ARCH_CORTEXM33
    select ARCH_HAVE_FPU
	select ARCH_HAVE_MPU
	select ARCH_CM33
	select ARCH_HAVE_MULTICPU
	# select ARCH_HAVE_FETCHADD
	# select ARCH_HAVE_HEAPCHECK
	# select ARCH_HAVE_PROGMEM
	# select ARCH_HAVE_SPI_BITORDER
	# select ARM_HAVE_MPU_UNIFIED
	# select ARMV8M_HAVE_STACKCHECK
	# select ARMV8M_USEBASEPRI
	# select ARMV8M_HAVE_ICACHE
	# select ARMV8M_HAVE_DCACHE
	# select ARMV8M_ICACHE
	# select ARMV8M_DCACHE
	# select ARCH_ICACHE
	# select ARCH_DCACHE
	# select BF0_HCPU

endchoice

config BK_CMSIS
	bool "bk cmsis"
	default n
	menu "Modify Cmsis Config"
		depends on BK_CMSIS

		config DEFAULT_CMSIS_START
			bool "Enable Default Cmsis Start"
			default y

		config DCACHE
			bool "Enable Dcache"
			default y
			help
				Enable data cache

		config ICACHE
			bool "Enable Icache"
			default y
			help
				Enable code cache

	endmenu

menu "SOC_CONFIG"

	choice SOC
		prompt "ARMINO SoC"



		config SOC_BK7258
			select SOC_BK7236XX
			bool "BK7258"
		config SOC_BK7258_AP
			select SOC_BK7236XX
			bool "BK7258_AP"
		config SOC_BK7257
			select SOC_BK7236XX
			bool "BK7257"
		config SOC_BK7257_AP
			select SOC_BK7236XX
			bool "BK7257_AP"

	endchoice


	config CPU_CNT
			int "System CPU count: 1: single core, 2: dual core, etc."
			default 1


	config SOC_STR
		string "SoC string"
		default "bk7258"  if SOC_BK7258
		default "bk7258_ap"  if SOC_BK7258_AP
		default "bk7257"  if SOC_BK7257
		default "bk7257_ap"  if SOC_BK7257_AP
		default "$ARMINO_SOC"

	config SOC_ARCH
		string "Soc arch"
		default "unknown"

	config SOC_BK7236XX
		bool "For bk7236 series chipset"
		default n
	config SOC_BK7256XX
		bool "For bk7256 series chipset"
		default n

	config SOC_BK7251XX
		bool "For bk7251 series chipset"
		default n

	config SOC_SMP
		bool "For soc smp feature"
		default n

endmenu


source "../vendor/beken/chips/drivers/Kconfig"
endif

menu "Arch::Cm33"
	config ARCH_CM33
		bool "Enable Cortex-M33"
		default n
	
	menu "Modify Arch Cm33 Config"
		depends on ARCH_CM33

		config FPGA
			bool "Enable FPGA"
			default n

		config MPU
			bool "Enable Memory Protect Unit Feature"
			default n
	
		config CPU_FREQ_HZ
			int "Set Cpu Freq Hz"
			default 120000000
			help
				CPU frequency

		config ARCH_INT_STATIS
			bool "Enable Arch Int Statis"
			default n
			help
				Enable interrupt statis

		config SYSTICK_32K
			bool "Systick use external 32K clock"
			default n
			
		config CACHE_ENABLE
                	depends on MPU
			bool "Enable DCache"
			default n
			help
				Enable DCache

		config HEAP_IN_CACHE
			depends on CACHE_ENABLE
			bool "Enable Heap in Cache"
			default y
			help
				Custom enable heap in Cache

		config SWD_DEBUG_MODE
			bool "Enable SWD Debug Mode"
			default n
			help
				Enable SWD Debug Mode

		config DUMP_ENABLE
			bool "Enable Dump Feature"
			default n
			help
				Dump all memory when exception happen

		config DUMP_UART_PRINT_PORT
			int "Config DumpUart Print Port"
			range 0 2
			default 0
			help
			Default 0 mean use UART0

		config DUMP_TEST
			bool "Enable Dump Test"
			default n
			help
				Enable Dump Test

		config MEMDUMP_ALL
			bool "Enable Memdump All"
			default y
			help
				Dump all memory when exception happen
        
		config INTERRUPT_DEBUG_RECORDER
			bool "Enable interrupt debug"
			default n
			help
				interrupt debug
        
		config INTERRUPT_RECORDER_CNT
			int "Set recorder interrupt count"
			default 40
			help
				interrupt recorder count

	endmenu
endmenu
mainmenu "Beken Development Configuration"
	menu "ARMINO Configuration"
		config DUMP_ENABLE
			bool 
	endmenu