menu "Driver"
	source "../vendor/beken/chips/drivers/device/Kconfig"
	source "../vendor/beken/chips/drivers/wdt/Kconfig"
	source "../vendor/beken/chips/drivers/aon_wdt/Kconfig"
	source "../vendor/beken/chips/drivers/uart/Kconfig"
	source "../vendor/beken/chips/drivers/trng/Kconfig"
	source "../vendor/beken/chips/drivers/sdio_host/Kconfig"
	source "../vendor/beken/chips/drivers/sd_card/Kconfig"
	source "../vendor/beken/chips/drivers/sdio/Kconfig"
	source "../vendor/beken/chips/drivers/spi/Kconfig"
	source "../vendor/beken/chips/drivers/qspi/Kconfig"
	source "../vendor/beken/chips/drivers/rtc/Kconfig"
	source "../vendor/beken/chips/drivers/gpio/Kconfig"
	source "../vendor/beken/chips/drivers/pmu/Kconfig"
	source "../vendor/beken/chips/drivers/general_dma/Kconfig"
	source "../vendor/beken/chips/drivers/touch/Kconfig"
	source "../vendor/beken/chips/drivers/sbc/Kconfig"
	source "../vendor/beken/chips/drivers/jpeg_enc/Kconfig"
	source "../vendor/beken/chips/drivers/jpeg_dec/Kconfig"
	source "../vendor/beken/chips/drivers/psram/Kconfig"
	source "../vendor/beken/chips/drivers/calendar/Kconfig"
	source "../vendor/beken/chips/drivers/sys_ctrl/Kconfig"
	source "../vendor/beken/chips/drivers/phy/Kconfig"
	source "../vendor/beken/chips/drivers/i2s/Kconfig"
	source "../vendor/beken/chips/drivers/i2c/Kconfig"
	source "../vendor/beken/chips/drivers/audio/Kconfig"
	source "../vendor/beken/chips/drivers/pwm/Kconfig"
	source "../vendor/beken/chips/drivers/icu/Kconfig"
	source "../vendor/beken/chips/drivers/timer/Kconfig"
	source "../vendor/beken/chips/drivers/saradc/Kconfig"
	source "../vendor/beken/chips/drivers/flash/Kconfig"
	source "../vendor/beken/chips/drivers/h264/Kconfig"
	source "../vendor/beken/chips/drivers/sdmadc/Kconfig"
	source "../vendor/beken/chips/drivers/pwr_clk/Kconfig"
	source "../vendor/beken/chips/drivers/otp/Kconfig"
	source "../vendor/beken/chips/drivers/fft/Kconfig"
	source "../vendor/beken/chips/drivers/hw_rotate/Kconfig"
	source "../vendor/beken/chips/drivers/yuv_buf/Kconfig"
	source "../vendor/beken/chips/drivers/lcd/Kconfig"
	source "../vendor/beken/chips/drivers/irda/Kconfig"
	source "../vendor/beken/chips/drivers/reset_reason/Kconfig"
	source "../vendor/beken/chips/drivers/efuse/Kconfig"
	source "../vendor/beken/chips/drivers/mailbox/Kconfig"
	source "../vendor/beken/chips/drivers/tp/Kconfig"
	source "../vendor/beken/chips/drivers/dma2d/Kconfig"
	source "../vendor/beken/chips/drivers/chip_support/Kconfig"
	source "../vendor/beken/chips/drivers/eth/Kconfig"
	source "../vendor/beken/chips/drivers/ckmn/Kconfig"
	source "../vendor/beken/chips/drivers/hw_scale/Kconfig"
	source "../vendor/beken/chips/drivers/lin/Kconfig"
	source "../vendor/beken/chips/drivers/scr/Kconfig"
	source "../vendor/beken/chips/drivers/jpeg_dec/Kconfig"
	source "../vendor/beken/chips/drivers/spinlock/Kconfig"
	source "../vendor/beken/chips/drivers/slcd/Kconfig"
	source "../vendor/beken/chips/drivers/can/Kconfig"
endmenu
